.admin-register-container {
    width: 430px;
    margin: 30px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.admin-register-container h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    font-weight: 600;
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #C61A1A;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #a61212;
}
