/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f5f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN CARD */
form {
    background: white;
    padding: 35px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #b30000;
    font-size: 28px;
    font-weight: 600;
}

/* INPUT GROUP */
.form-group {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.3s;
}

input:focus {
    border-color: #b30000;
    outline: none;
}

/* LINK STYLE */
.links {
    margin-bottom: 15px;
    text-align: right;
}

.links a {
    text-decoration: none;
    color: #b30000;
    font-weight: 600;
}

.links a:hover {
    text-decoration: underline;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    background: #b30000;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

button:hover {
    background: #ff1a1a;
}
