body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #b30000;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: #ffcccc;
}

.hero .btn {
    background: red;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.info {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.card {
    background: white;
    padding: 25px;
    width: 250px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
