<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Registration</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_register.css') }}">
</head>

<body>

<div class="admin-register-container">

    <h2>Admin Registration</h2>

    <form action="{{ url_for('admin_register') }}" method="POST">

        <label>Admin Name</label>
        <input type="text" name="admin_name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Phone Number</label>
        <input type="number" name="phone" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Hospital Name</label>
        <input type="text" name="hospital_name" required>

        <button type="submit">Register Admin</button>

    </form>

</div>

</body>
</html>
