<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bank Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
       <div class="logo">রক্তবীজ</div>

        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="{{ url_for('donor_register') }}">Donor</a></li>
            <li><a href="{{ url_for('admin_login') }}">Admin</a></li>
            <li><a href="{{ url_for('search_blood') }}">Search Blood</a></li>
        </ul>
    </nav>

    <!-- HERO SECTION WITH IMAGE -->
    <section id="home" class="hero">
        <div class="hero-overlay">

            <h1>Give Blood, Save Lives</h1>
            <p>One small donation can save someone's entire world.</p>

            <div class="btn-group">
                <a class="btn" href="{{ url_for('donor_register') }}">Become a Donor</a>
                <a class="btn-outline" href="{{ url_for('search_blood') }}">Search Blood</a>
            </div>

        </div>
    </section>

    <!-- SERVICES SECTION -->
<section class="services">
    <h2>What We Offer</h2>

    <div class="service-buttons">

        <a href="{{ url_for('donor_register') }}" class="service-btn">
            Register as Donor
        </a>

        <a href="{{ url_for('search_blood') }}" class="service-btn">
            Find Blood Quickly
        </a>

        <a href="{{ url_for('hospital_login') }}" class="service-btn">
            Hospital Admin Panel
        </a>

    </div>
</section>


</body>
</html>
